In [2]:
import pandas as pd
dv = pd.read_csv("C:\\Users\\Siddharth\\Downloads\\MOCK_DATA.csv")
dv

,id,first_name,last_name,email,gender,ip_address
0,1,Julie,Antonognoli,jantonognoli0@linkedin.com,Male,222.105.42.212
1,2,Petey,Burgill,pburgill1@sogou.com,Male,71.104.84.173
2,3,Kathrine,Siggers,ksiggers2@hc360.com,Female,15.214.179.247
3,4,Earvin,Doudney,edoudney3@soundcloud.com,Bigender,145.123.249.144
4,5,Valerye,Ferraro,vferraro4@google.cn,Female,20.244.184.13
...,...,...,...,...,...,...
995,996,Thorsten,Estcot,testcotrn@163.com,Male,208.41.227.88
996,997,Fidelio,Steade,fsteadero@columbia.edu,Male,81.66.85.38
997,998,Rebeka,Cragell,rcragellrp@51.la,Female,59.65.61.101
998,999,Ulla,Harbar,uharbarrq@howstuffworks.com,Female,121.192.199.202
999,1000,Blancha,Poley,bpoleyrr@list-manage.com,Female,152.81.25.130

In [3]:
# na_values will turn blank record to NaN 
dv = pd.read_csv("C:\\Users\\Siddharth\\Downloads\\MOCK_DATA.csv", na_values=["not available", "n.a."])
dv

,id,first_name,last_name,email,gender,ip_address
0,1,Julie,Antonognoli,jantonognoli0@linkedin.com,Male,222.105.42.212
1,2,Petey,Burgill,pburgill1@sogou.com,Male,71.104.84.173
2,3,Kathrine,Siggers,ksiggers2@hc360.com,Female,15.214.179.247
3,4,Earvin,Doudney,edoudney3@soundcloud.com,Bigender,145.123.249.144
4,5,Valerye,Ferraro,vferraro4@google.cn,Female,20.244.184.13
...,...,...,...,...,...,...
995,996,Thorsten,Estcot,testcotrn@163.com,Male,208.41.227.88
996,997,Fidelio,Steade,fsteadero@columbia.edu,Male,81.66.85.38
997,998,Rebeka,Cragell,rcragellrp@51.la,Female,59.65.61.101
998,999,Ulla,Harbar,uharbarrq@howstuffworks.com,Female,121.192.199.202
999,1000,Blancha,Poley,bpoleyrr@list-manage.com,Female,152.81.25.130

In [4]:
# if we need to change any particular negative values into NaN, we have to pass as a discionary
dv = pd.read_csv("C:\\Users\\Siddharth\\Downloads\\MOCK_DATA.csv", na_values={
            'ip_address': ["not available", 'n.a.', -1]
})
dv

,id,first_name,last_name,email,gender,ip_address
0,1,Julie,Antonognoli,jantonognoli0@linkedin.com,Male,222.105.42.212
1,2,Petey,Burgill,pburgill1@sogou.com,Male,71.104.84.173
2,3,Kathrine,Siggers,ksiggers2@hc360.com,Female,15.214.179.247
3,4,Earvin,Doudney,edoudney3@soundcloud.com,Bigender,145.123.249.144
4,5,Valerye,Ferraro,vferraro4@google.cn,Female,20.244.184.13
...,...,...,...,...,...,...
995,996,Thorsten,Estcot,testcotrn@163.com,Male,208.41.227.88
996,997,Fidelio,Steade,fsteadero@columbia.edu,Male,81.66.85.38
997,998,Rebeka,Cragell,rcragellrp@51.la,Female,59.65.61.101
998,999,Ulla,Harbar,uharbarrq@howstuffworks.com,Female,121.192.199.202
999,1000,Blancha,Poley,bpoleyrr@list-manage.com,Female,152.81.25.130

In [7]:
dv = pd.read_excel("C:\\Users\\Siddharth\\Downloads\\Book.xlsx", "Sheet1")
dv

  Unnamed: 0 Unnamed: 1 Unnamed: 2
0       Apla       Mngo     Orange